.heading-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: black;
    
}
 
.imdb-logo{
   margin: 10px;
   max-height: fit-content;
   max-width: fit-content;
   border-radius: 5px;
   font-size: 20px;
   padding:  10px ;
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   background-color: #E2B616;
   color: black;
   text-align: center;
    
}

.imdb-logo:hover{
  cursor: pointer;
}
.form_search_control{

  width: 400px;
  margin-top:15px;
  padding: 10px;
}
.search_bar{
 
  width: 300px;
  height: 30px;


}
.search_btn_icon{
  margin: 0; 
  color: rgb(88, 88, 92);
}
 
.menu-bar{
  background-color: black;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
  height: 30px;
  color: black;
}
.intro_images{
  width: 80%;
  height: 500px;
}

.menu_container{
  width: 150px  ;
  margin-left:10px;
  margin-right: 10px;

}
.menu_bar_icon{
  margin-left: 10px;
  margin-right: 10px;

}
.menu_btn{
  margin: 0 10px;
}
@media screen and (max-width:800px) {
  .form_search_control{
    padding: 2px;
    
  }

  .search_bar{
    max-width: 200px;
    min-width: 100px;

  }
  .imdb-logo{
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    padding-bottom: 0;
  }
  
}
@media screen and (max-width:600px) {
  .search_bar{
    max-width: 100px;
  }
  .imdb-logo{
    font-size: 16px;
  }
  
}
@media screen and (max-width:400px) {
  .search_bar{
    max-width: 100px;
  }
  .imdb-logo{
    font-size: 16px;
  }
  
}