.heading-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: black;
    
}
 
.imdb-logo{
   margin: 10px;
   max-height: fit-content;
   max-width: fit-content;
   border-radius: 5px;
   font-size: 20px;
   padding:  10px ;
   cursor: pointer;
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   background-color: #E2B616;
   color: black;
   text-align: center;
    
}
.form_search_control{

  width: 400px;
  margin-top:15px;
  padding: 10px;
}
.search_bar{
  width: 300px;
  height: 30px;


}
 
.search_btn_icon{
  margin: 0; 
  color: rgb(88, 88, 92);
}
 
 
.intro_images{
  width: 80%;
  height: 500px;
}

.menu_container{
  width: 200px ;
  margin-left:10px;
  margin-right: 10px;
  margin-top: 15px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 
}
.menu_bar_icon{
   width: 68px;
   font-size: 15px;
}
.address_card{
  cursor: pointer;
  margin-left: 10px;
  font-size: 2rem;
}
@media screen and (max-width:800px) {
  .form_search_control{
    padding: 2px;
    
  }

  .search_bar{
    max-width: 200px;
    min-width: 100px;

  }
  .imdb-logo{
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    padding-bottom: 0;
  }
  
}
@media screen and (max-width:600px) {
  .search_bar{
    max-width: 100px;
  }
  .imdb-logo{
    font-size: 16px;
  }
   .menu_container{
     width: 130px;
   }
  .menu_bar_icon{
    width: 50px;
    height: 28px;
    font-size: 10px;
     text-align: center; 
  }  
  .address_card{
    font-size: 1.5rem;
  }
 
  
}
@media screen and (max-width:400px) {
  .search_bar{
    max-width: 50px;
  }
  .form_search_control{
    width: 150px;
  }
  .search_bar{
    width: 50px;
  }
  .imdb-logo{
    font-size: 16px;
  }
  .menu_container{
    max-width: 50px;
    flex-direction: column;
    margin-left:0px;
    margin-right:10px;
    margin-top: 5px;
   padding-right: 0px;
    text-align: center;
    align-items: center;
    justify-content:flex-start;
  }
   .menu_bar_icon{
     width: 40px;
     height: 25px;
     font-size: 8px;
     margin-bottom: 5px;
     align-items: center;
     text-align: center;
   }
  
}