 .popular_container{
   margin: 0 auto;
   padding-top: 30px;
   margin-right: 4%;
   margin-left: 4%;
   overflow: hidden;
   font-size: 1.2rem;
   font-weight: 700;
 }
 .popular_movie_container{
     display: flex;
     flex-direction: row;
     padding-bottom: 30px;
    
 }
 .popular_seeMore{
     display: flex;
    
 }
 .popular_seeMore:hover{
     cursor:pointer;
 }

 .boxshadow_effect{
    box-shadow: 10px 20px 10px black;
}
 .right_arrow_icon{
     font-size: 25px;
 }
 .popular_heading_container{
     display: flex;
     flex-direction: row;
     justify-content: space-between;

 }

 .popular_movie_item{
     margin: 5px;
     padding: 5px;
 }
 .popular_movie_image{
    width: 230px;
    height: 320px;
 }.popular_movie_item{
    width: 250px;
    height: 350px;
 }
 .movie_rating_con{
     display: flex;
     justify-content: space-between;
 }

@media screen and (max-width:1000px) {
    .popular_movie_item{
        width: 200px;
        height: max-content;
    }
    .popular_movie_image{
        width: 200px;
        height: 280px;
    }
}

 @media screen and (max-width:800px) {
     .popular_movie_item{
          margin: 10px;
          height: max-content;  
     }
     .popular_movie_image{
        width: 150px;
        height: 220px;
   
     }
     .popular_movie_item{
         width: 150px;
     }
 }
 @media screen and (max-width:600px) {
     .popular_movie_image{
         width: 150px;
         height: 190px;
     }
     .popular_movie_item{
         margin: 2px;
         padding: 3px;
        }
 }
 @media screen and (max-width:500px) {
     .popular_container{
         font-size: 1rem;
     }
     .popular_movie_image{
         width: 100px;
         height: 150px;
     }
 }